*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    box-sizing: border-box;
    background: url('./images\ \(2\).jfif');
    background-size: cover;
    background-repeat: no-repeat;
}
.contact{
    display: flex;
}
.cont1,.cont2,.cont3{
    display: flex;
    margin-top: 10%;
}
.cont1,.cont2,.cont3 label{
    color: springgreen;
    font-size: 30px;
    display: block;
}
.ab1{
    text-align: center;
    font-size: 30px;
}
.ab1 img{
    width: 20vw;
    height: 30vh;
}

.ser1{
    margin: 5%;
    margin-left: 5%;
    border-radius: 20px;
    width: 80vw;
    height: 20vh;
     box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.ser1 img{
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
}
.ser1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 20%;
    margin-top: -5%;
}
.ser2{
    margin-left: 5%;
    border-radius: 20px;
    width: 80vw;
    height: 20vh;
     box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.ser2 img{
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
}
.ser2 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 20%;
    margin-top: -5%;
}
.ser3{
    margin: 5%;
    margin-left: 5%;
    border-radius: 20px;
    width: 80vw;
    height: 20vh;
     box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.ser3 img{
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
}
.ser3 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 20%;
    margin-top: -5%;
}
.ser4{
    margin: 5%;
    margin-left: 5%;
    border-radius: 20px;
    width: 80vw;
    height: 20vh;
     box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.ser4 img{
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
}
.ser4 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 20%;
    margin-top: -5%;
}
.ser5{
    margin: 5%;
    margin-left: 5%;
    border-radius: 20px;
    width: 80vw;
    height: 20vh;
     box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.ser5 img{
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
}
.ser5 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 20%;
    margin-top: -5%;
}
.ser6{
    margin: 5%;
    margin-left: 5%;
    border-radius: 20px;
    width: 80vw;
    height: 20vh;
     box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.ser6 img{
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
}
.ser6 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 20%;
    margin-top: -5%;
}
.ser7{
    margin: 5%;
    margin-left: 5%;
    border-radius: 20px;
    width: 80vw;
    height: 20vh;
     box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.ser7 img{
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
}
.ser7 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 20%;
    margin-top: -5%;
}.ser8{
    margin: 5%;
    margin-left: 5%;
    border-radius: 20px;
    width: 80vw;
    height: 20vh;
     box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.ser8 img{
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
}
.ser8 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 20%;
    margin-top: -5%;
}
.div1{
    margin-top: 1%;
    margin-left: 2%;
    width: 95vw;
    height: 50vh;
    background: transparent;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.div1 img{
    width: 20vw;
    height: 30vh;
}
.div1 img:hover{
    width: 25vw;
    height: 35vh;
    transition: .7s;
}
.div1 h2{
    text-align: center;
}
.div1 p{
    text-align: center;
}

.div2{
    margin-left: 2%;
    margin-top: 2%;
    width: 95vw;
    height: 50vh;
    background: transparent;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.div2 img:hover{
    width: 25vw;
    height: 35vh;
    transition: .7s;
}
.div2 img{
    width: 20vw;
    height: 30vh;
}
.div2 p{
    text-align: center;
}

.div2 h2{
    text-align: center;
}
.f1{
    border-radius: 20px;
    height: 20vh;
    width: 30vw;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.f1 p{
    padding: 5px;
}
.f1 h3{
    text-align: center;
}
.f2{
    border-radius: 20px;
    height: 20vh;
    margin-left: 2%;
    width: 10vw;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.f2 p{
    padding: 3px;
}
.f2 h3{
    text-align: center;
}
.f3{
    border-radius: 20px;
    height: 20vh;
    margin-left: 2%;
    width: 15vw;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.f3 h3{
    text-align: center;
}
.f3 p{
    padding: 5px;
}
.f4{
    border-radius: 20px;
    height: 20vh;
    margin-left: 2%;
    width: 32vw;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.f4 h3{
    text-align: center;
}
.f4 p{
    padding: 3px;
}
.f4 ul li{
    margin-left: 5%;
}
footer h2{
    margin-top: 12%;
    margin-left: -60%;
} 
footer{
    width: 95vw;
    height: 28vh;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
    background: lightblue;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.logo img {
    width: 5vw;
    height: 10vh;
    margin-left: -50%;
}
.web1{
    margin-left: 2%;
    border-radius: 20px;
    width: 20vw;
    height: 40vh;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.web1 img{
    border-radius: 10px;
    width: 20vw;
    height: 30vh;
}
.web1 h3{
    text-align: center;
}
.web1 p{
    margin-left: 25%;
    padding: 1px;
}
.web2{
    margin-top: -20%;
    margin-left: 25%;
    border-radius: 20px;
    width: 20vw;
    height: 40vh;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.web2 img{
    border-radius: 10px;
    width: 20vw;
    height: 30vh;
}
.web2 h3{
    text-align: center;
}
.web2 p{
    margin-left: 25%;
    padding: 1px;
}
.web3{
    margin-top: 2%;
    margin-left: 25%;
    border-radius: 20px;
    width: 20vw;
    height: 40vh;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.web3 img{
    border-radius: 10px;
    width: 20vw;
    height: 30vh;
}
.web3 h3{
    text-align: center;
}
.web3 p{
    margin-left: 25%;
    padding: 1px;
}
.web4{
    margin-top: -20.5%;
    margin-left: 2%;
    border-radius: 20px;
    width: 20vw;
    height: 40vh;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.web4 img{
    border-radius: 10px;
    width: 20vw;
    height: 30vh;
}
.web4 h3{
    text-align: center;
}
.web4 p{
    margin-left: 25%;
    padding: 1px;
}
.web5{
    margin-top: -42.9%;
    margin-left: 50%;
    border-radius: 20px;
    width: 20vw;
    height: 40vh;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.web5 img{
    border-radius: 10px;
    width: 20vw;
    height: 30vh;
}
.web5 h3{
    text-align: center;
}
.web5 p{
    margin-left: 25%;
    padding: 1px;
}
.web6{
    margin-top: 2%;
    margin-left: 50%;
    border-radius: 20px;
    width: 20vw;
    height: 40vh;
    box-shadow: 2px 5px 6px black, 2px 5px 6px black;
}
.web6 img{
    border-radius: 10px;
    width: 20vw;
    height: 30vh;
}

.web6 p{
    margin-left: 25%;
    padding: 1px;
}

.part1 .img1,.img2,.img3,.img4,.img5,.img6{
    padding: 20px;
    margin: 10px;
    width: 50vw;
    height: 30vh;
    display: flex;
    background: #00607d;
    box-shadow: 5px 4px 6px black, 5px 4px 6px black;
}
.part1 .img1,.img2,.img3,.img4,.img5,.img6 label{
    color: wheat;
    font-size: 30px;
}
.navbar{
    margin-bottom: 2%;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid rgba(0 , 0, 0,.1);
    padding-bottom: .6rem;
}

.d-flex{
    display: flex;
}
.menu{
    width: 80%;
    margin: 0 10%;
    padding-top: .5rem;
    justify-content: space-between;
}
.menu .menu-links ul{
 display: flex;

}
.menu .menu-links ul li{
    list-style-type: none;
    margin: 0 .3rem;
    animation: links 2s ease-in-out;
    animation-duration: calc(1s * i);
}
.menu .menu-links ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    color: rgb(255, 166, 0);
    padding: .7rem 1.3rem;
    transition: .7s;
}
@keyframes links{
    0%{
    opacity: 0;
    transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.menu .menu-links ul li a:hover{
    background: rgba(0 , 0, 0,.5);
    color: #fff;
}
.garage{
    width: 100%;
    box-shadow: 0 10px 10px rgba(0 , 0, 0,.5);
    margin-top: 4rem;
    height: 83vh;
    overflow: hidden;
}
.garage-container{
    justify-content: space-between;
}

.garage-description{
    flex:  0 0 49%;
    max-width: 49%;
    margin: 1rem;
    animation: left 2s ease-in-out;
}
.account{
    width: 70%;
    margin:8rem 15%;
}
.login-form{
    flex: 0 0 49%;
    max-width: 49%;
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(16px);
    padding: .3rem;
    border-radius: 10px;
    animation:right 2s ease-in-out;
}
.login-form input[type="text"],.login-form input[type="password"]{
    width: 100%;
    padding: .5rem 0;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    margin: .3rem 0;
    font-size: 16px;
}
.login-form input[type="submit"]{
    width: 100%;
    margin: .5rem 0;
    padding: .8rem 0;
    border-radius: 10px;
    border: none;
    outline: none;
    color: rgb(255, 166, 0);
    background: rgba(0 , 0, 0,.1);
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
    transition: .7s;
    font-weight: 600;
    animation:submitButton 3s ease-in-out;
}
.login-form input[type="submit"]:hover{
    background: rgb(255, 166, 0);
    color: #fff;
}
.login-form p{
    padding: .5rem 0;
    text-align: center;
    color: rgb(255, 166, 0);
     background-color: rgba(0 , 0, 0,.1);
     font-size: 19px;
}



@keyframes submitButton{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes right{
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes left{
    0%{
        opacity: 0;
        transform: translateX(50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.sign-up-form{
    flex: 0 0 49%;
    max-width: 49%;
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(16px);
    padding: .3rem;
    border-radius: 10px;
    animation:left 2s ease-in-out;
}
.sign-up-form input[type="text"],.sign-up-form input[type="password"]{
    width: 100%;
    padding: .5rem 0;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    margin: .3rem 0;
    font-size: 16px;
}
.sign-up-form input[type="submit"]{
    width: 100%;
    margin: .5rem 0;
    padding: .8rem 0;
    border-radius: 10px;
    border: none;
    outline: none;
    color: rgb(255, 166, 0);
    background: rgba(0 , 0, 0,.1);
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
    transition: .7s;
    font-weight: 600;
    animation:submitButton 3s ease-in-out;
}
.sign-up-form input[type="submit"]:hover{
    background: rgb(255, 166, 0);
    color: #fff;
}
.sign-up-form p{
    padding: .5rem 0;
    text-align: center;
    color: rgb(255, 166, 0);
     background-color: rgba(0 , 0, 0,.1);
     font-size: 19px;
}
.sign-up-form label,.sign-up-form span{
    color: rgba(0 , 0, 0,.6);
}
.services{
    width: 100%;
}
.service-container{
    width: 100%;
    margin:  5rem .5rem;
    justify-content: center;
}
.service-box{
    flex: 0 0 49%;
    max-width: 49%;
    margin: 0 .5rem;
    border-left : 1px dashed rgb(255, 166, 0);
}
.service-box1{
    animation:  right 2s ease-in-out;
}
.service-box2{
    animation:  left 2s ease-in-out;
}
.service-box p{
    margin-left: .5rem;
}
.service-box img{
    width: 70%;
    margin: 0 15%;
    height: 15rem;
}
.service-box-bottom{
    width: 80%;
    margin: 0 10%;
    border-left: 1px solid rgb(255, 166, 0);
    animation: up 2s ease-in-out;
}
.service-box-bottom p{
    margin-left: 1rem;
}
.service-box-bottom img{
    width: 70%;
    margin: 0 15%;
    height: 15rem;
}
@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.bannel1{
    animation: right 2s ease-in-out;
}
.bannel2{
    animation: up 3.5s ease-in-out;
}
.bannel3{
    animation: left 2s ease-in-out;
}